.xf_content{
	width: 100%;
}
/* content */
.content{
	width: 1251px;
	height: auto;
	margin: 0 auto;
	padding-top: 66px;
	margin-top: 78px;
}

.content ul{
	
}

.content ul li{
	width: 290px;
	border: 1px solid #e2e2e2;
	padding: 10px 10px 39px 10px;
	box-sizing: border-box;
	text-align: center;
}

.content ul li >img{
	width: 269px;
	height: 270px;
	
}

.content ul li p:nth-of-type(1){
	font-size: 12px;
	margin-top: 18px;
	margin-bottom: 14px;
	color: #4e6259;
}

.content ul li p:nth-of-type(2){
	color: #7f4b4d;
	font-weight: bolder;
}