/* header */
.xf_header{
	width: 100%;
	height: 77px;
	background: #FFFFFF;
	border-bottom: 1px solid #9d9895;
}

header{
	width: 1251px;
	height: 78px;
	/* 水平居中 */
	margin: 0 auto;
	overflow: hidden;
}

/* 子选择器 */
header >a{
	float: left;
}

header >a img{
	width: 217px;
	height: 45px;
	margin-top: 15px;
}

header .city{
	float: left;
	/* 要在父元素添加overflow: hidden; */
	margin-top: 29px;
	font-size: 12px;
}

header .city >img{
	width: 11px;
	height: 17px;
	margin-left: 31px;
	margin-right: 7px;
}

header .city >a{
	padding: 9px;
	background: #cccccc;
	color: #FFFFFF;
	margin-left: 13px;
}

header .nav{
	float: left;
	height: 78 px;
	line-height: 77px;
	margin-left: 66px;
}

header .nav a{
	color: #220e03;
	margin-right: 29px;
}

header .nav a:first-child{
	margin-right: 36px;
}

header .nav a:last-child{
	margin-right: 0;
}

header .link{
	float: right;
	margin-top: 29px;
}

header .link >img{
	width: 23px;
	height: 23px;
	float: left;
	margin-right: 23px;
}

header .link >a{
	padding: 11px 8px 12px 8px;
	border: 1px solid #989898;
	color: #03000e;
}

/* banner */
.banner{
	height: 662px;
}

.banner a img{
	width: 100%;
	height: 662px;
}

/* cake_type */
.cake_type{
	width: 100%;
	height: 477px;
}

.cake_type div{
	width: 33.33%;
	height: 477px;
	float: left;
	text-align: center;
	overflow: hidden;
}

.cake_type div:nth-child(1){
	background: #eee2c8;
}

.cake_type div:nth-child(2){
	background: #ddc69d;
}

.cake_type div:nth-child(3){
	background: #eee2c8;
}

.cake_type div img{
	width: 290px;
	height: 191px;
	margin-top: 77px;
}

.cake_type div a{
	display: block;
}

.cake_type div a:nth-child(1){
	margin-bottom: 60px;
}

.cake_type div a:nth-of-type(2){
	font-size: 14px;
}